@charset "UTF-8";


body{
    background-color: var(--cor00);
    font-family: Arial, Helvetica, sans-serif;
    
}
*{
    margin: 0px;
    padding: 0px;
}
    

@font-face {
    font-family: 'idroid';
    src: url('idroid.otf') format(opentype);
}


/*
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/


:root{
    --cor00: #ebe5c5;
    --cor01: #c5ebd6;
    --cor02: #83e1ad;
    --cor03: #3ddc84;
    --cor04: #2fa866;
    --cor05: #1a5c37;
    -cor06:  #063d1e;


    --fontepadrao: Arial, Verdana, Helvetica, sans-serif;
    --fontedestaque: 'Bebas Neue', cursive;
    --fonteandroid: 'idroid', cursive;
}




a.externo::after{
    content: '\00A0\1F517';
}
    

main{
    background-color: white;
    padding: 20px;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}





header{
    min-height: 150px;
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor05));
    text-align: center;
    padding-top: 40px;
}

header > h1{ 
    
    color: white;
    font-family: var(--fontedestaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.288);
    font-weight: normal;
}

header > p{
    
    color: white;
    font-family: var(--fontepadrao);
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.288);
}

nav{
    padding: 10px;
    background-color: var(--cor05);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.356);
}
 nav > a{
    text-decoration: none;
    padding: 10px;
    color: var(--cor01);
    font-weight: bold;
    transition-duration: 0.5s;
    border-radius: 5px;
    
}
 nav > a:hover{
    background-color: var(--cor03);
    color: var(--cor05);
    

}


main h2{
    font-family: var(--fonteandroid);
    color: var(--cor05);
    background-image: linear-gradient(to right, var(--cor01), transparent);
    text-align: left;
    padding: 5px;
    font-size: 1.3em;
    text-indent: 8px;

}

main h1{
    color: #1C633B;
    font-family: var(--fonteandroid);
    text-align: left;
    padding: 5px;
    font-size: 2em;
    
}

main p{
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 15px;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}

main img{
    width: 100%;
}

main img.pequena{
    display: block;
    max-width: 350px;
    margin: auto;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor05);
    background-color: var(--cor01);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor04);
    
}

strong{
    color: var(--cor04);
    font-weight: bold;
    padding: 2px 6px;
}





div.video{
    position: relative;
    justify-content: center;
    background-color: var(--cor05);
    padding: 20px;
    padding-bottom: 59%;
    margin: 0px -20px 30px -20px;
    

    
    ;
    
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;

    
}

aside h3{
    background-color: var(--cor05);
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    padding: 10px;
   
}


aside{
    background-color: var(--cor02);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.274);
    
}

aside ul{

    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
}




footer{
    background-color: green;
    text-align: center;
    color: white;
    padding: 5px;
    font-weight: bold;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    color: var(--cor01);
    text-decoration: underline;
}